.Intro {
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(12, 5, 17, 0.561);
  height: 80%;
  box-shadow: 5px 10px 20px 10px rgb(85, 35, 143);
}

.Intro-header-animation-container {
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.Intro-header {
  width: 50%;
  padding: auto 0;
  margin: 0 20px;
}

.Intro-animation {
  width: 50%;
  border: none;
  margin: 0 20px;
}