.Intro {
  /* border: 1px solid black; */
  border-radius: 50px;
  background-image: linear-gradient(rgb(95, 40, 40), rgb(24, 63, 92));
  height: 80%;
  box-shadow: 5px 10px 20px 20px rgb(95, 40, 40),
    inset 5px 10px 20px 20px rgb(24, 63, 92);
}

.Intro-header-animation-container {
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.Intro-header {
  width: 50%;
  padding: auto 0;
  margin: auto 20px;
}

.Intro-animation {
  width: 50%;
  border: none;
  margin: auto 20px;
}