.Intro {
  padding: 30px;
  border-radius: 50px;
  background-image: linear-gradient(rgb(95, 40, 40), rgb(24, 63, 92));
  height: 80%;
  box-shadow: 5px 10px 20px 20px rgb(95, 40, 40),
    inset 5px 10px 20px 20px rgb(24, 63, 92);
}

.Intro-header-animation-container {
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.Intro-header {
  width: 50%;
  padding: auto 0;
  margin: auto 20px;
}

.Intro-animation {
  width: 50%;
  border: none;
  margin: auto 20px;
}

@media (max-width: 822px) {
  .Intro-animation {
    display: none;
  }

  .Intro-header-animation-container {
    height: 50%;
  }

  .Intro p {
    display: none;
  }

  .Intro-header {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (max-height: 825px) {
  .Intro {
    font-size: .8rem;
  }
}