.AboutMe {
  width: 75%;
  margin: 144px auto;
  box-shadow: 0px 0px 20px 4px rgba(191, 191, 191, 0.526),
    inset 0px 0px 20px 4px rgba(191, 191, 191, 0.526);
  padding: 40px;
  border-radius: 10px;
}

.AboutMe a {
  color: rgb(207, 207, 207);
}

.AboutMe img {
  border-radius: 10px;
  border: 2px solid;
  box-shadow: 0px 0px 50px 5px rgba(137, 42, 42, 0.526);
}

.AboutMe h2 {
  text-align: center;
}

.AboutMe .TechStack {
  width: 90%;
  margin: 0 auto;
}