.AboutMe {
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(5, 13, 17, 0.561);
  height: 80%;
  color: rgb(239, 236, 255);
  box-shadow: 5px 10px 20px 10px rgb(40, 46, 95);
}

.AboutMe-text-img-wrapper {
  display: flex;
  justify-content: space-between;
}

.AboutMe-img {
  width: 50%;
  height: 50%;
  padding: 25px;
}

.AboutMe-img img {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 15px;
}

.AboutMe-text {
  width: 50%;
  padding: 25px;
  text-align: left;
}

.AboutMe-text a {
  text-decoration: none;
  color: aqua;
}