.Music {
  width: 80%;
  margin: 144px auto;
  text-align: center;
}

.Music-songs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Music iframe {
  padding: 50px 0;
}