.Navbar-link {
  border: 1px solid black;
  text-decoration: none;
  color: #8d1c1c;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: #00acca;
  box-shadow: 0px 0px 45px 2px #1c4651;
  transition: font-size .5s ease-in-out;
}

.Navbar-link:hover {
  font-size: 1.8rem;
}

@media (max-width: 822px) {
  .Navbar {
    display: flex;
    flex-direction: column;
  }

  .Navbar-link {
    margin: 5px;
  }
}