.Navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  margin: 0 auto;
  border-radius: 30px;
  backdrop-filter: blur(20px);
  width: 100%;
}

.Navbar-link {
  text-decoration: none;
  color: #00acca;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: none;
  transition: background-color .5s ease-in-out;
}

.Navbar-link:hover, .active {
  background-color: #c38585;
  color: rgb(24, 63, 92);
}

@media (max-width: 1130px) {
  .Navbar {
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 10vh;
  }

  .Navbar-link {
    font-size: 1rem;
    margin: 2px;
  }
}