.OrderToggle {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  margin: -5px auto;
  z-index: 5;
}

.OrderToggle-switch {
  background-image: linear-gradient(90deg, rgb(95, 40, 40), rgb(24, 63, 92));
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  color: white;
  height: 60px;
  border-radius: 100px;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

.OrderToggle-button {
  position: absolute;
  width: 70px;
  height: 32px;
  background-color: white;
  border-radius: 100px;
  margin: 0 5px;
}

.recent .OrderToggle-button {
  right: 24px;
}

.growth .OrderToggle-button {
  left: 24px;
}

@media (max-width: 500px) {
  .OrderToggle {
    top: 0;
    width: 100px;
    height: 50px;
    font-size: .6rem;
    z-index: 5;
  }

  .OrderToggle-switch {
    height: 24px;
    font-size: .5rem;
    padding: 2px;
  }

  .OrderToggle-button {
    width: 35px;
    height: 18px;
  }

  .recent .OrderToggle-button {
    right: 10px;
  }
  
  .growth .OrderToggle-button {
    left: 10px;
  }
}