.Input {
  position: relative;
  border: none;
  padding: 0;
  margin-bottom: 30px;
  width: 50%;
}

.Input label {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 16px;
  transition: 0.25s;
  padding-left: 16px;
  color: #cacaca;
}

.Input input,
.Input textarea {
  width: 100%;
  height: 50px;
  padding: 24px 16px 4px 16px;
  color: white;
  background-color: #17171766;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  border-bottom: 1.5px solid #c2c2c2;
  font-size: 1.2rem;
  border-radius: 4px;
}

.Input textarea {
  height: 100px;
  width: 199%;
}

.Input input:focus,
.Input textarea:focus {
  border-bottom: 1.5px solid #50bac7;
  background-color: #74737366;
}

.Input input:focus ~ label,
.Input input:valid ~ label,
.Input textarea:focus ~ label,
.Input textarea:valid ~ label {
  top: 8px;
  font-size: 0.8rem;
}

@media (max-width: 500px) {
  .Input input {
    width: 100%;
  }
}
