.Project {
  width: 85%;
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.Project-description a {
  color: white;
}

.Project h2 {
  text-align: left;
}

.Project-info-img-container {
  display: flex;
  align-items: top;
}

.Project-award {
  height: 50px;
  width: 50px;
}

.Project-info {
  width: 50%;
  text-align: left;
  padding: 20px;
}

.Project-links a {
  font-size: 2.5rem;
  padding: 10px;
  transition: font-size .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.Project-links a:hover {
  background-color: rgb(125, 142, 158);
}

.demo {
  color: rgb(87, 177, 250);
}

.github {
  color: black;
}

.Project-img {
  width: 40%;
  padding: 20px;
  margin: auto;
}

.Project-img img {
  height: 70%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid;
  box-shadow: 0px 0px 50px 5px;
}

@media (max-width: 1200px) {
  .Project-info-img-container {
    flex-direction: column;
  }

  .Project-info {
    width: 85%;
    margin: 0 auto;
    text-align: left;
  }

  .Project-img {
    width: 80%;
  }

  .Project-links {
    top: 0;
  }

  .Project-links a {
    font-size: 1.5rem;
    padding: 10px;
  }
}