.Project {
  width: 85%;
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.Project-description a {
  color: white;
}

.Project h1 {
  text-align: center;
  font-size: 36px;
  margin: 16px;
}

.Project h2 {
  text-align: left;
}

.Project-info-img-container {
  display: flex;
  align-items: top;
}

.Project-award {
  height: 50px;
  width: 50px;
}

.Project-info {
  width: 50%;
  text-align: left;
  padding: 20px;
}

.Project-links a {
  font-size: 2.5rem;
  padding: 10px;
  transition: background-color .3s;
}

.Project-links a:hover {
  background-color: rgb(0, 0, 0);
}

.demo {
  color: rgb(87, 177, 250);
}

.github {
  color: white;
}

.Project-img {
  width: 40%;
  padding: 20px;
  margin: auto;
}

.Project-img img {
  height: 70%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid;
  box-shadow: 0px 0px 50px 5px;
}

.Project-nav {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  border: none;
  font-size: 2rem;
}

.Project-nav button, .Project-nav svg {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

.Project-exit {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .Project-info-img-container {
    flex-direction: column;
  }

  .Project-info {
    width: 85%;
    margin: 0 auto;
    text-align: left;
  }

  .Project-img {
    width: 80%;
  }

  .Project-links {
    top: 0;
  }

  .Project-links a {
    font-size: 1.5rem;
    padding: 10px;
  }
}