.TechStackCard {
  height: 100px;
  width: 70px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  transform: none;
  transition: transform 0.3s;
}

.TechStackCard:hover {
  transform: scale(1.3);
}

.TechStackCard-img {
  background-color: rgba(245, 245, 245, 0.833);
  height: 60px;
  width: 60px;
  box-shadow: none;
  border: none;
}

.TechStackCard-caption {
  font-size: .9rem;
  color: #eeeeee;
}

@media (max-width: 1200px) {
  .TechStackCard {
    height: 55px;
    width: 40px;
  }
}