.TechStackCard {
  background-color: rgba(245, 245, 245, 0.466);
  height: 55px;
  width: 55px;
  display: inline-block;
  text-align: center;
  font-size: .8rem;
  padding: 15px;
  margin: 0 5px;
  border-radius: 25px;
}

.TechStackCard-img-wrapper img {
  height: 45px;
  width: 45px;
}

.TechStackCard-caption {
  color: #332c2c;
  margin: 5px auto;
}