.TechStackCard {
  background-color: rgba(245, 245, 245, 0.466);
  height: 85px;
  width: 85px;
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin: 5px;
  border-radius: 25px;
}

.TechStackCard-img-wrapper img {
  height: 70px;
  width: 70px;
}

.TechStackCard-caption {
  font-size: .9rem;
  color: #332c2c;
}